@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.hero {
  width: 100%;
  height: 100vh;
  background: url(img/bg.png);
  background-size: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}
.logo {
  max-height: 80px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  color: white;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #ff7f11;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #ff7f11;
  transition: 0.5s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.content {
  position: absolute;
  top: 20%;
  left: 8%;
}
.content .title {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #ff7f11 20.69%,
    white 50.19%,
    #ff7f11 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: white;
  font-size: 70px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 50%;
  background: linear-gradient(20deg,#ff7f11 10.69%,white 40.69%,#ff7f11 50.19%, white 100.69%,#ff7f11 10.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 span {
    color: white;
    background: linear-gradient(20deg,white 10.69%,#ff7f11 50.19%, white 100.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p {
  width: 55%;
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
}

.me {
  position: absolute;
  right: 0px;
  top: 0;
  border-radius: 500px;
}

.btn {
    color: #ff7f11;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    background-size: 152% 100%;
    background: transparent;
    border: 2px solid #ff7f11;
  }
  
  .btn:hover {
    background: #ff7f11;
    border-color: #ff7f11;
    color: white;
  }
  .content-about {
    position: absolute;
    top: 20%;
    left: 8%;
  }

  .content-about .title-about {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 0px;
    background: linear-gradient(
      120deg,
      #ff7f11 20.69%,
      white 50.19%,
      #ff7f11 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.content-about h1 {
    width: 55%;
    color: white;
    background: linear-gradient(
      120deg,
      #ff7f11 20.69%,
      white 50.19%,
      #ff7f11 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 5px;
    margin-bottom: 5px;
  }

  .content-about p {
    width: 55%;
    color: white;
    margin-bottom:5px;
  }

  .content-about .why_it {
    color: white;
    background-clip: text;
    text-fill-color: transparent;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 500;
    background-size: 100% 100%;
    border: 2px solid #ff7f11;
    transition: 0.1s ease-in-out;
  }

  .content-about .why_it:hover {
    color: #ff7f11;
  }

  .content-about .why_it::after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px 40px;
    height: 3px;
    background: #ff7f11;
    transition: 0.1s;
    bottom: 0;
  }
  
  .content-about .why_it:hover::after {
    width: 16px 40px;
  }

  .content-about .why_it .statement {
    color: #ff7f11;
    background-clip: text;
    font-weight: 500;
    transition: 0.1s ease-in-out;
    font-size: 15px;
    text-align: justify;
  }

  .content-about .why_it .statement:hover {
    color: white;
  }

  .content-about .why_it .statement::after {
    content: "";
    position: absolute;
    left: 0;
    width: 16px 50px;
    height: 3px;
    background: white;
    transition: 0.1s;
    bottom: 0;
  }
  
  .content-about .why_it .statement:hover::after {
    width: 16px 50px;
  }